* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  background-color: #121212;
  font-family: 'Inter', 'Roboto', 'Helvetica', 'Arial', sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
}

.bg-pattern {
  background-image: radial-gradient(#333333 1px, transparent 0);
  background-size: 30px 30px;
}

.app-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

html {
  scroll-behavior: smooth;
}